In [2]:
from datetime import datetime
import pandas as pd

In [5]:
a = pd.DataFrame({"Datetime" : []})
a

Empty DataFrame
Columns: [Datetime]
Index: []

In [10]:
a["VCB"] = []
a

Empty DataFrame
Columns: [Datetime, VCB]
Index: []

In [12]:
a.append({"Datetime" : datetime(src.Year, src.Month, src.Day, src.Hour, src.Minute, 0), "VCB" : 100}, ignore_index=True)

                    Datetime    VCB
0 2020-01-22 11:10:18.668350  100.0

In [17]:
src = datetime.now()
datetime(datetime.now().year, datetime.now().month, datetime.now().day, datetime.now().hour, datetime.now().minute, 0)

datetime.datetime(2020, 1, 22, 11, 15)

In [18]:
src == datetime.now()

False

In [22]:
a = a.append({"Datetime" : datetime(datetime.now().year, datetime.now().month, datetime.now().day, datetime.now().hour, datetime.now().minute, 0), "VIC" : 100}, ignore_index=True, )

In [23]:
a

             Datetime  VCB    VIC
0 2020-01-22 11:21:00  NaN  100.0

In [24]:
a = a.append({"Datetime" : datetime(datetime.now().year, datetime.now().month, datetime.now().day, datetime.now().hour, datetime.now().minute, 0), "VCB" : 100}, ignore_index=True, )

In [25]:
a

             Datetime    VCB    VIC
0 2020-01-22 11:21:00    NaN  100.0
1 2020-01-22 11:21:00  100.0    NaN

In [26]:
a["Datetime"]

0   2020-01-22 11:21:00
1   2020-01-22 11:21:00
Name: Datetime, dtype: datetime64[ns]

In [27]:
src not in a["Datetime"]

True

In [28]:
src

datetime.datetime(2020, 1, 22, 11, 15, 20, 929273)

In [30]:
a = a.append({"Datetime" : src, "VIC" : 200}, ignore_index=True)

In [31]:
a

                    Datetime    VCB    VIC
0 2020-01-22 11:21:00.000000    NaN  100.0
1 2020-01-22 11:21:00.000000  100.0    NaN
2 2020-01-22 11:15:20.929273    NaN  200.0

In [34]:
a[a["Datetime"] == src]["VIC"].empty

False

In [37]:
a["Hello"] = None

In [38]:
a

                    Datetime    VCB    VIC Hello
0 2020-01-22 11:21:00.000000    NaN  100.0  None
1 2020-01-22 11:21:00.000000  100.0    NaN  None
2 2020-01-22 11:15:20.929273    NaN  200.0  None

In [45]:
a[a["Datetime"] == src].loc["VCB"] = 100

/home/lamnguyen/miniconda3/envs/dev/lib/python3.8/site-packages/pandas/core/indexing.py:205: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [46]:
a

                    Datetime    VCB    VIC Hello
0 2020-01-22 11:21:00.000000    NaN  100.0  None
1 2020-01-22 11:21:00.000000  100.0    NaN  None
2 2020-01-22 11:15:20.929273    NaN  200.0  None

In [47]:
now = datetime.now()

In [57]:
now = now.replace(hour=11, minute=21, second=0, microsecond=0)
type(now)

datetime.datetime

In [52]:
a["Datetime"].values

array(['2020-01-22T11:21:00.000000000', '2020-01-22T11:21:00.000000000',
       '2020-01-22T11:15:20.929273000'], dtype='datetime64[ns]')

In [58]:
import numpy as np

In [138]:
a.loc[(a["Datetime"] == np.datetime64(now)) & (a["VIC"].isnull()), "VIC"] = np.nan

In [122]:
a["VCB"].isnull()

0    False
1    False
2     True
Name: VCB, dtype: bool

In [123]:
(a["Datetime"] == np.datetime64(now)) & (a["VCB"].isnull())

0    False
1    False
2    False
dtype: bool

In [124]:
a

                    Datetime    VCB    VIC Hello
0 2020-01-22 11:21:00.000000  100.0  100.0  None
1 2020-01-22 11:21:00.000000  100.0    2.0  None
2 2020-01-22 11:15:20.929273    NaN  200.0  None

In [136]:
a[a["VCB"].isnull()]

                    Datetime  VCB    VIC Hello
2 2020-01-22 11:15:20.929273  NaN  200.0  None

In [141]:
a["VIC"].isnull()

0    False
1    False
2    False
Name: VIC, dtype: bool

In [142]:
a

                    Datetime    VCB    VIC Hello
0 2020-01-22 11:21:00.000000  100.0  100.0  None
1 2020-01-22 11:21:00.000000  100.0    2.0  None
2 2020-01-22 11:15:20.929273    NaN  200.0  None

In [148]:
a.loc["VCB", "2"] = np.nan

In [149]:
a[2].isnull()

0      True
1      True
2      True
VCB    True
Name: 2, dtype: bool

In [150]:
a

                      Datetime    VCB    VIC Hello   2   2
0   2020-01-22 11:21:00.000000  100.0  100.0  None NaN NaN
1   2020-01-22 11:21:00.000000  100.0    2.0  None NaN NaN
2   2020-01-22 11:15:20.929273    NaN  200.0  None NaN NaN
VCB                        NaT    NaN    NaN   NaN NaN NaN

In [151]:
a["VCB"].isnull()

0      False
1      False
2       True
VCB     True
Name: VCB, dtype: bool

In [152]:
a["WHAT"] = np.nan

In [153]:
a

                      Datetime    VCB    VIC Hello   2   2  WHAT
0   2020-01-22 11:21:00.000000  100.0  100.0  None NaN NaN   NaN
1   2020-01-22 11:21:00.000000  100.0    2.0  None NaN NaN   NaN
2   2020-01-22 11:15:20.929273    NaN  200.0  None NaN NaN   NaN
VCB                        NaT    NaN    NaN   NaN NaN NaN   NaN

In [157]:
a.to_dict()

{'Datetime': {0: Timestamp('2020-01-22 11:21:00'),
  1: Timestamp('2020-01-22 11:21:00'),
  2: Timestamp('2020-01-22 11:15:20.929273'),
  'VCB': NaT},
 'VCB': {0: 100.0, 1: 100.0, 2: nan, 'VCB': nan},
 'VIC': {0: 100.0, 1: 2.0, 2: 200.0, 'VCB': nan},
 'Hello': {0: None, 1: None, 2: None, 'VCB': nan},
 2: {0: nan, 1: nan, 2: nan, 'VCB': nan},
 '2': {0: nan, 1: nan, 2: nan, 'VCB': nan},
 'WHAT': {0: nan, 1: nan, 2: nan, 'VCB': nan}}

In [158]:
b = pd.DataFrame(a.to_dict())

In [159]:
b

                      Datetime    VCB    VIC  Hello   2   2  WHAT
0   2020-01-22 11:21:00.000000  100.0  100.0    NaN NaN NaN   NaN
1   2020-01-22 11:21:00.000000  100.0    2.0    NaN NaN NaN   NaN
2   2020-01-22 11:15:20.929273    NaN  200.0    NaN NaN NaN   NaN
VCB                        NaT    NaN    NaN    NaN NaN NaN   NaN

In [161]:
[1,2] in [1,2,3]

False

In [162]:
a.columns

Index(['Datetime', 'VCB', 'VIC', 'Hello', 2, '2', 'WHAT'], dtype='object')

In [163]:
b = pd.read_csv("checkpoint.csv")

In [164]:
b

Empty DataFrame
Columns: [Unnamed: 0, Unnamed: 0.1, Unnamed: 0.1.1, Unnamed: 0.1.1.1, DateTime, VN30F2002, VCB]
Index: []

In [166]:
b.empty

True

In [167]:
a

                      Datetime    VCB    VIC Hello   2   2  WHAT
0   2020-01-22 11:21:00.000000  100.0  100.0  None NaN NaN   NaN
1   2020-01-22 11:21:00.000000  100.0    2.0  None NaN NaN   NaN
2   2020-01-22 11:15:20.929273    NaN  200.0  None NaN NaN   NaN
VCB                        NaT    NaN    NaN   NaN NaN NaN   NaN

In [168]:
a.to_csv("checkpoint.csv")